<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html" charset="UTF-8" />
	<title>myapp</title>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />


	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="javascripts/base.js"></script>
	<script type="text/javascript">
	    !window.jQuery && document.write('<script type="text/javascript" src="javascripts/jquery.min.js"><\/script>')
	</script>

</head>
<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
			    <a class="navbar-brand" href="/">Computers manager</a>
			</div>
			<ul class="nav navbar-nav">
				<% IF logged == 'true' || msg == 1 %>
					<li><a href="/types"> Types </a></li>
					<li><a href="/models"> Models </a></li>
					<li><a href="/networks"> Networks </a></li>
					<li><a href="/network_devices"> Network devices </a></li>
					<li><a href="/computers"> Computers </a></li>
					<li><a href="/parts"> Parts </a></li>
					<li><a href="/manuals"> Manuals </a></li>
					<li><a href="/search"> Search </a></li>
				<% END %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% IF logged == 'true' || msg == 1 %>
					<li><a href="/user_panel"> Logged as: <%user%></a></li>
					<li><a href="/logout"> Logout </a></li>
				<% END %>
			</ul>
		</nav>
	<% content %>
	<div id="footer">
	</div>
</body>
</html>
